// Typo

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Oswald:400,700');
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #ff3131;
    text-transform: uppercase;
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #ff3131;
    text-transform: uppercase;
}