.header-index {
    font-family: 'Oswald', sans-serif;
    padding: 40px 20px;
    background: #f4f4f4;
    
    .adresse-header {
        font-size : 17px;
    }

    .infos-header {
        font-size: 18px;
        font-weight: 700;
    }
    .cta-index {
        margin-top: 30px;
        margin-bottom: 40px;
    }
}